Source: pdfocr
Section: utils
Priority: optional
Maintainer: Geza Kovacs <gkovacs@mit.edu>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://github.com/gkovacs/pdfocr

Package: pdfocr
Architecture: all
Depends: ${misc:Depends}, ruby (>= 1.8.7), cuneiform, pdftk, poppler-utils, exactimage
Description: Adds OCR layer to scanned PDF files
 pdfocr uses optical charater recognition to extract text from scanned PDF files, and adds the recognized text back to the PDF file. This makes the resulting PDF files searchable.
